# Local Development Backend API URL
NEXT_PUBLIC_API_URL=http://localhost:5000

# Production Backend API URL (for deployment / Render)
# NEXT_PUBLIC_API_URL=https://college-management-sytem.onrender.com
